* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Montserrat';
    font-size: 62.5%;
}

:root {
    /* ==== Colors ==== */
    /* --body-color: #F3F3F3;
    --primary-color: #f8931d;
    --primary-color-light: #ffb560;
    --light-gray-color: #d8d8d8;
    --dark-gray-color: #363636;
    --black-color: #000;
    --dark-text-color: #000;
    --white-color: #fff;
    --light-text-color: #fff;
    --white: #fff; */
    /* === Transition === */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    font-size: 1.6rem;
}
