* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Montserrat';
    font-size: 62.5%;
}

:root {
    /* ==== Colors ==== */
    --blue: #3e8ddc;
    --red: #a33534;
    --white: #fff;
    --gray: #ececec;
    --dark-gray: #363636;
    --black: #000;

    /* === Transition === */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    font-size: 1.6rem;
}
