.licitaciones_main {
    padding: 2rem 2rem;

}
.licitaciones_main .licitaciones_container {
    padding: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 48rem);
}

.licitaciones_main .title {
    font-size: 3.0rem;
    font-weight: bold;
}

.licitaciones_main .licitacion {
    width: 45rem;
    /* height: 18.0rem; */
    border-radius: .5rem;
    padding: 2rem;
    text-align: justify;
    /* padding: 1.5rem; */
    box-shadow: rgba(0, 0, 0, 0.24) .0rem .3rem .8rem;
    margin-bottom: 1.5rem;

}

.licitaciones_main .licitacion_title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
}
.licitaciones_main .licitacion_description {
    font-size: 1.4rem;
    color: var(--muted-gray);
    margin-bottom: 2rem;
}

.licitaciones_main .licitacion_status_active {
    height: 1.0rem;
    width: 1.0rem;
    border-radius: 50%;
    background-color: green;
}

.licitaciones_main .licitacion_status_inactive {
    height: 1.0rem;
    width: 1.0rem;
    border-radius: 50%;
    background-color: red;
}
.licitaciones_container .btn {
    width: 35rem;
    height: 3.5rem;
    font-size: 1.6rem;
}



/* Single Licitaction Styles */

.licitacion_container {
    width: 100%;
    /* padding: 5rem 3rem; */
    padding: 0 2rem;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    margin-top: 2.0rem;


}

.licitacion_container .licitacion_title_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.licitacion_container .licitacion_title_container .licitacion_title {
    font-size: 2.6rem;
    font-weight: bold;
    padding: 0;
    margin: 0;

}

.licitacion_container .licitacion_description {
    margin-bottom: 3rem;
}

.licitacion_container .btn {
    width: 20rem;
    height: 3.5rem;
    font-size: 1.6rem;
}
